<ul class="nav nav-pills pull-right"  ng-controller="SessionController as session" >
  <li role="presentation"><a href="#/">Home</a></li>
  <li ng-show="signedIn()"><a href="#/" id="username"></a></li>
  <li role="presentation" ng-hide="signedIn()"><a href="#/signin">Sign In</a></li>
  <li role="presentation" ng-show="signedIn()"><a href="#/settings">Settings</a></li>
  <li role="presentation" ng-show="signedIn()"><a href ="" ng-click="submitLogout()">Logout</a></li>
</ul>

<div class="container-fluid container-footer">
  <div class="col-sm-4 footer-left">
    <p class="footer-headline"><span class="glyphicon glyphicon-link"></span>НАВІГАЦІЯ</p>
    <ul class="footer-navigate">
      <li>
        <a href="#about-link" title="About">ПРО НАС</a>
      </li>
      <li>
        <a href="#" title="Piligrims">ПІЛІГРИМИ</a>
      </li>
      <li>
        <a href="#projects-link" title="Projects">ПРОЕКТИ</a>
      </li>
      <li>
        <a href="#team-link" title="Team">КОМАНДА</a>
      </li>
      <li>
        <a href="#video-link" title="Video">ВІДЕО</a>
      </li>
      <li>
        <a href="#photo-link" title="Photo">ФОТО</a>
      </li>
      <li>
        <a href="#" title="Help">ДОПОМОГТИ</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-4 footer-left">
    <p class="footer-headline"><span class="glyphicon glyphicon-send"></span>СЛІДКУЙТЕ</p>
    <ul class="footer-navigate">
      <li>
        <a href="https://www.facebook.com/pages/Pilgrims/158084905445?fref=ts" target="_blank">FACEBOOK</a>
      </li>
      <li>
        <a href="#" title="Piligrims">GOOGLE+</a>
      </li>
      <li>
        <a href="#contact-link" title="Projects">NEWSLETTER</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-4 footer-left">
    <p class="footer-headline"><span class="glyphicon glyphicon-map-marker"></span>КОНТАКТИ</p>
    <ul class="footer-navigate">
      <li>
        <p>КВАРТИРА 17,<br>
          ПЛОЩА ГЕНЕРАЛА ГРИГОРЕНКА, 5,<br>
          ЛЬВІВ, ЛЬВІВСЬКА ОБЛАСТЬ, УКРАЇНА,<br>
          79000</p>
      </li>
      <li>
        <p>youthtojesus@gmail.com</p>
      </li>
      <li>
        <p>+38(97)248-69-87</p>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 footer-reserved">
    <p>© 2015. Youth To Jesus. Всі права застережено | Розробка та дизайн: LaSoft</p>
  </div>
</div>
