<div ng-controller="SessionController as session">
<div class="container-fluid header-container">
  <div class="col-sm-5 header-left">
    <a href="#/">Youth To Jesus</a>
    <p>Молодіжна християнська громадська організація</p>
  </div>
  <div class="col-sm-2 main-logo-box">
    <img src="assets/logo2.jpg" class="main-logo">
  </div>
  <div class="col-sm-5 header-right">
    <ul>
      <li><a class="gotoContact" ng-click="gotoElement('contact-link')">Контакт</a></li>
      <li data-toggle="modal" data-target="#myDonate"><a>Допомогти</a></li>
      <li><a href="#/signin">Sign In</a></li>
      <li><a href="#" title="Search"><span class="glyphicon glyphicon-search"></span></a></li>
    </ul>
  </div>
  <ul class="lang-after-collapse">
    <li><a href="#">ua</a></li>
    <li><a href="#">|</a></li>
    <li><a href="#">eng</a></li>
  </ul>
</div>

<nav class="navbar navbar-inverse" role="navigation"  id="navbar-main" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="nav-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="button-after-collapse">
        <li><a href="#" title="Translate" class="navbar-button"><span class="glyphicon glyphicon-globe"></span></a></li>
        <li><a href="#" title="Donate" class="navbar-button"><span class="glyphicon glyphicon-piggy-bank"></span></a></li>
        <li><a href="#" title="Search" class="navbar-button"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav topnav navbar-left">
        <li>
          <a ng-click="gotoElement('about-link')" class="active waves-effect" title="About">ПРО НАС</a>
        </li>
        <li>
          <a ng-click="gotoElement('projects-link')" title="Projects" class="waves-effect">ПРОЕКТИ</a>
        </li>
        <li>
          <a ng-click="gotoElement('team-link')"  class="waves-effect">КОМАНДА</a>
        </li>
        <li>
          <a ng-click="gotoElement('photo-link')" title="Photo" class="waves-effect" target="_self">ФОТО</a>
        </li>
        <li>
          <a ng-click="gotoElement('video-link')" class="waves-effect">ВІДЕО</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right nav-right">


  <li class="admingoMain" ng-show="signedIn()">
        <a href="#/" class="waves-effect">Головна</a>
        </li>

<li role="presentation" class="dropdown newPageElement" ng-show="signedIn()">
    <a class="dropdown-toggle adminLink waves-effect>" data-toggle="dropdown" href="#/" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-menu-down"></span>
    </a>
    <ul class="dropdown-menu newPageElementDropdown">
      <li><a href="#/slides/new" class="waves-effect">Новий слайд</a></li>
      <li><a href="#/projects/new" class="waves-effect">Новий проект</a></li>
      <li><a href="#/team/new" class="waves-effect">Новий член команди</a></li>
    </ul>
  </li>

  <li role="presentation" class="dropdown newPageElementSettings" ng-show="signedIn()">
    <a class="dropdown-toggle waves-effect" data-toggle="dropdown" href="#/" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-wrench"></span><span class="glyphicon glyphicon-menu-down"></span>
    </a>
    <ul class="dropdown-menu newPageElementSettingsDropdown">
      <li><a href="#/slides" class="waves-effect">Cлайди</a></li>
      <li><a href="#/team" class="waves-effect">Команда</a></li>
      <li><a href="#/projects" class="waves-effect">Проекти</a></li>
      <li><a href="#/admin/profile/edit" class="waves-effect">Профіль</a></li>
      <br>
      <li><a href="#/" class="waves-effect" ng-click="submitLogout()">Вийти</a></li>
    </ul>
  </li>


        <li class="adminName" ng-show="signedIn()">
        <a id="username"></a>
        </li>

        <li>
          <a href="#" title="UA" class="waves-effect">UA</a>
        </li>
        <li>
          <a href="#" title="ENG" class="waves-effect">ENG</a>
        </li>
        <li id="nav-li-hide" class="waves-effect"><a href="#" title="Translate"><span class="glyphicon glyphicon-globe"></span></a></li>
      </ul>

    </div>
  </div>
</nav>
  </div>
<!--Finish header-->

<!-- Donate -->
<div class="modal fade" id="myDonate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">ДОПОМОЖІТЬ НАМ</h4>
      </div>
      <div class="modal-body">
        <p>Ми - неприбуткова організацією, яка існує за рахунок пожертв. <br> 
        У зв'язку з цим потребуємо вашої фінансової підтримки. <br>
        </p> 
      </div>
      <div class="modal-body">
        <p>Номери карток для перерахунку допомоги: <br> 
        5457-0822-3348-8182<br>
        4188-3700-2060-8636
        </p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>
<!-- Finish Donate -->
