<div  ng-controller="HomeController">
  <h2>{{titleProject}}</h2>
  <ul ng-repeat="project in projects">
   <img ng-src={{"assets/projects"}}/{{project.image}} width="100"/>
    <li><span style="color: red; font-style: italic">Project Name:</span>   {{project.name}}</li>
    <li><span style="color: red; font-style: italic">Project Date Of:</span> {{project.date_of}}</li>
    <li><span style="color: red; font-style: italic">Project Description:</span> {{project.description}}</li>
    <li ng-repeat="team_member in project.team_members" >Team member:
      <ul >
        <li><span style="color: blue; font-style: italic">Full Name:</span>   {{team_member.name}}  {{team_member.surname}} </li>
        <li><span style="color: blue; font-style: italic">Coordinatorra:</span>   {{team_member.coordinator}}</li>
        <li><span style="color: blue; font-style: italic">Position:</span> {{team_member.position}}</li>
        <li><span style="color: blue; font-style: italic">Phone:</span> {{team_member.phone}}</li>
      </ul>
    </li>
  </ul>
</div>