<form ng-submit="update(slide)">

    <div class="input-group">
        <label for='description'>Опис</label>
        <textarea class="form-control" placeholder="опис" name="description" ng-model="slide.description" />
    </div>
    <br>
    <div mg-file-upload="slideImage"  ng-model="slide.image">
    <div class="drop-area">
            <input type="file" class="js-progress-files" />
            <img  ng-if="slide.image.url" ng-src="{{slide.image.url}}" width="200px">
            <img ng-else ng-src="{{slide.image.src}}" title="{{slide.image.title}}" id="{{slide.image.id}}"  width="200px"/>
        </div>
    </div>

    <input type="submit" class="btn btn-default" value="оновити">
</form>
