<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h2>Електронна пошта:  <%= @contact.email %></h2>
<h2>Тема:  <%= @contact.subject %></h2>
<h2>Повідомлення </h2>
<p>
  <%= @contact.message %>
</p>

</body>
</html>