<div class="row container-signup-main" signup-directive="errors">
  <form name="contactForm" novalidate class="col s12" ng-submit="registerUser(user)">
    <div class="row">
      <div class="col s8 offset-s2 signup-headline">
        <p class="flow-text">ФОРМА РЕЄСТРАЦІЇ АДМІНІСТРАТОРА</p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input type="text" name="userName" class="signup-input signup-username" ng-minlength="3" ng-maxlength="16" ng-pattern="userNamePattern" required ng-model="user.name">
        <label for="username"><!-- Username -->І'мя користувача</label>
        <p class="error" ng-show="contactForm.userName.$invalid && contactForm.userName.$dirty">
          {{getErrorName(contactForm.userName.$error)}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input type="text" name="userEmail" class="signup-input signup-email" required ng-model="user.email">
        <label for="userEmail"><!-- Email -->Електронна пошта</label>
        <p class="error" ng-show="contactForm.userEmail.$invalid && contactForm.userEmail.$dirty">
        {{getErrorEmail(contactForm.userEmail.$error)}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input type="password" name="userPassword" class="signup-input signup-password" minlength="4" required ng-model="user.password">
        <label for="password"><!-- Password -->Пароль</label>
        <p class="error" ng-show="contactForm.userPassword.$invalid && contactForm.userPassword.$dirty">
        {{getErrorPassword(contactForm.userPassword.$error)}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input type="password" name="userPasswordConfirm" class="signup-input signup-password-confirm" required ng-model="user.password_confirmation">
        <label for="password"><!-- Password confirmation -->Підтвердити пароль</label>
        <p class="error" ng-show="user.password !=  user.password_confirmation">
        {{getErrorConfirm()}}
        </p>
      </div>
    </div>
    <div class="row">
        <div class="switch col s8 offset-s2">
            <label>
            Не підтверджую
            <input type="checkbox" name="memberAgreed" id="member-checkbox" required ng-model="user.agreed">
            <span class="lever"></span>
            Підтверджую
            </label>
        </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2 signup-submit-input">
        <button type="submit" class="btn btn-default waves-effect purple darken-4 signup-submit-input" ng-disabled="contactForm.$invalid || user.password !=  user.password_confirmation">Зареєструватись</button>
      </div>
    </div> 
  </form>
</div>