<div class="row-fluid">
    <div class="container-carousel-submain col-xs-12">
        <ol class="carousel-indicators-main">
        </ol>
        <div class="carousel-inner-main">
        </div>
        <a class="previous-link" ng-click="previousLink()"><span class="switch-previous-slide glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        <a class="next-link" ng-click="nextLink()"><span class="switch-next-slide glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>