<a href="https://www.google.com/maps/place/%D0%9C%D0%9E%D0%9B%D0%9E%D0%94%D0%AC+%D0%94%D0%9E+%D0%86%D0%A1%D0%A3%D0%A1%D0%90/@49.8422586,24.0230119,17z/data=!3m1!4b1!4m2!3m1!1s0x473add73c5664763:0x1c6af25550c0aa45" class="bg-contact-link" target="_blank"></a>
<div class="row-fluit">
    <div class="col-sm-4 col-sm-offset-7 col-xs-8 col-xs-offset-2">
        <div class="main-form" ng-controller="ContactFormController as contact_form">
            <div class="contact-headline">
                <p translate="CONTACTUPPER"></p>
            </div>
            <form name="orderform" ng-submit="submitContact()" role="form" novalidate>
                <div class="form-group">
                    <input type="text" name="contactName" class="contact-input contact-name" ng-minlength="3" ng-maxlength="16" maxlength="100"placeholder="{{nameMessage}}" required ng-model="contact_mail.name">
                    <p class="mainform-error" ng-show="orderform.contactName.$invalid && orderform.contactName.$dirty">
                    {{getErrorName(orderform.contactName.$error)}}
                    </p>
                </div>
                <div class="form-group">
                    <input type="email" name="contactEmail" class="contact-input contact-email" ng-maxlength="30"placeholder="{{emailMessage}}" required ng-model="contact_mail.email">
                    <p class="mainform-error" ng-show="orderform.contactEmail.$invalid && orderform.contactEmail.$dirty">
                    {{getErrorEmail(orderform.contactEmail.$error)}}
                    </p>
                </div>
                <div class="form-group">
                    <input type="text" name="contactTheme" class="contact-input contact-theme" ng-minlength="3" ng-maxlength="100" placeholder="{{themeMessage}}" required ng-model="contact_mail.theme">
                    <p class="mainform-error" ng-show="
                    orderform.contactTheme.$invalid && orderform.contactEmail.$dirty">
                    {{getErrorSubject(orderform.contactTheme.$error)}}
                    </p>
                </div>
                <div class="form-group message-text">
                    <textarea name="contactText" class="materialize-textarea contact-input" ng-maxlength="1000" placeholder="{{textMessage}}" required ng-model="contact_mail.text"></textarea>
                    <p class="mainform-error" ng-show="orderform.contactText.$dirty">
                    {{getErrorMessage(orderform.contactText.$error)}}
                    </p>
                </div>
                <button type="submit" class="btn btn-default button-input">{{sendMessage}}</button>
            </form>
        </div>
    </div>
</div>