<!--Carousel-->
<div class="container-fluid container-carousel-main" carousel-directive="slides"></div>
<!--Finish carousel-->

<!-- About as -->
<div class="container-fluid container-about-main" id="about-link">
    <div class="row-fluid">
        <div class="about-headline">
            <p translate="ABOUT"></p>
        </div>
        <div class="container-about">
            <div class="col-xs-12 col-sm-6 about-image">
                <img src="assets/about.jpg" class="img-responsive">
                <img src="assets/about.jpg" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 about-text">
                <p class="about-slogan" translate="ABOUTSLOGAN"></p>
                <p class="text-head" translate="ABOUTSTORY"></p>
                <span translate="ABOUTSTORYDESCRIPTION"></span>
                <br>
                <p class="text-head" translate="ABOUTOPENNESS"></p>
                <span translate="ABOUTOPENNESSDESCRIPTION"></span>
                <br>
                <p class="text-head" translate="ABOUTRELATIONS"></p>
                <span translate="ABOUTRELATIONSDESCRIPTION"></span>
            </div>
        </div>
    </div>
</div>
<!--Finish about as-->


<!--Projects-->
<div class="container-fluid container-projects-main" id="projects-link" projects-directive="projects">
</div>
<!--Finish projects-->

<!--Team-->
<div class="container-fluid container-team-main" id="team-link" team-directive="team">
</div>
<!--Finish team-->

<!--Photo-->
<div class="container-fluid container-photo-main" id="photo-link" photo-directive="albums">
</div>
<!--Finish photo-->

<!--Video-->
<div class="container-fluid container-video-main" id="video-link" video-directive="playListItems">
</div>

<!--finish video-->

<!--Contact form-->
<div class="container-fluid container-contact-main" id="contact-link" contact-directive>
</div>
<!--Finish contact form-->

<!-- Scroll button -->
<div scroll-directive class="fixed-action-btn scroll-button" style="bottom: 45px; right: 24px;">
    <a ng-click="gotoTop()" style="display:none;opacity:0.7" class="btn-floating btn-large grey darken-4 my-btn-floating">
        <i class="large material-icons">keyboard_arrow_up</i>
    </a>
</div>
<!-- Finish scroll button -->
