<div class="row-fluid">
    <div class="photo-headline">
        <p translate="PHOTO"></p>
    </div>
    
    <div class="container-photo">
        
     <!--    <div class="photo" ng-repeat="album in albums">
            <a href="https://www.flickr.com/photos/{{album.user_id}}/sets/{{album.id}}" target="_blank" class="photo-link">
                <img class="img-responsive img-photo" ng-src="{{album.url}}">
                <a ng-href="https://www.flickr.com/photos/{{album.user_id}}/sets/{{album.id}}" target="_blank" class="photo-description">{{album.title}}</a>
            </a>
        </div> -->

     </div>
</div>