<div class="row-fluid">
        <div class="video-headline">
            <p translate="VIDEO"></p>
        </div>
        <div class="slider-for"></div>
        <div class="container-video">
           <!--  <div class="video-iframe-box" ng-repeat="video in playListItems">
                <youtube-embed width="{{video.snippet.thumbnails.medium.width}}px" height="{{video.snippet.thumbnails.medium.height}}px" id="{{video.contentDetails.videoId}}" image="{{video.snippet.thumbnails.medium.url}}">
                </youtube-embed>
                <p class="video-name-box">{{video.snippet.title}}</p>
            </div> -->
        </div>
    </div>