.container-projects-main {
    padding: 0px;
}

.projects-headline {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #4A148C;

    -webkit-animation: videoHeadlineAnime 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes videoHeadlineAnime {
    from {width: 0%}
    to {width: 100%}
}

.projects-headline p {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.container-projects {
    background-color: #6A1B9A;
    padding: 3% 0%;
    overflow: hidden;
    text-align: center;
}

.card {
    padding-left: 0px;
    padding-right: 0px;
}

.card-image img.activator {
    max-height: 300px;
}

.project-name {
    font-family: Roboto, sans-serif;;
    font-size: 18px;
    font-weight: 300;
}

.project-name i {
    padding-top: 10px;
    margin-left: 0px;
}

.card-title {
    text-align: center;
}

.facebook-link {
    float: left;
    padding-top: 8px;
    display: inline;
}

.project-facebook-logo {
    width: 32px;
    height: 32px;
}

.coordinator p {
    height: 24px;
    font-family: Roboto, sans-serif;;
    font-size: 14px;
    font-weight: 300;
    color: #BDBDBD !important;
}

@media screen and (max-width: 500px) {
    .card-content {
        padding: 0px !important;
    }

    .facebook-link {
        padding-top: 11px;
        padding-left: 5px;
    }

    .project-facebook-logo {
        width: 24px;
        height: 24px;
    }

    .project-name {
        font-family: Roboto, sans-serif;;
        font-size: 18px;
        font-weight: 300;
    }

    .coordinator p {
        height: 20px;
        font-size: 12px;
    }

    .card-reveal {
        padding: 3px !important;
    }

    .card-reveal p {
        padding: 3px !important;
        font-family: Roboto, sans-serif;;
        font-size: 7px;
        font-weight: 300;
    }
}

@media screen and (max-width: 400px) {
    p.project-name {
        font-size: 13px;
    }
}
