<div class="row">
  <form name="addProjectForm" novalidate class="col s12" ng-submit="addProject()">
    <div class="row">
      <div class="col s8 offset-s2 add-menu-headline">
        <p class="flow-text">ФОРМА ДОДАВАННЯ ПРОЕКТУ</p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input type="text" name="addProjectName" class="add-menu-input" ng-minlength="4" ng-maxlength="50" ng-pattern="projectNamePattern" required ng-model="project.name">
        <label for="addProjectName">Назва проекту</label>
        <p class="error" ng-show="addProjectForm.addProjectName.$invalid && addProjectForm.addProjectName.$dirty">
          {{getErrorName(addProjectForm.addProjectName.$error)}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <textarea name="addProjectDescription" class="materialize-textarea" ng-minlength="50" ng-maxlength="1000" required ng-model="project.description"></textarea>
        <label for="addProjectDescription">Опис проекту</label>
        <p class="error" ng-show="addProjectForm.addProjectDescription.$invalid && addProjectForm.addProjectDescription.$dirty">
          {{getErrorDescription(addProjectForm.addProjectDescription.$error)}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <input type="text" name="projectFacebook" class="add-menu-input" ng-pattern="projectFacebookPattern" ng-model="project.facebook_link">
        <label for="projectFacebook">Facebook link</label>
        <p class="error" ng-show="addProjectForm.projectFacebook.$invalid && addProjectForm.projectFacebook.$dirty">
          {{getErrorFacebook(addProjectForm.projectFacebook.$error)}}
        </p>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
              <!-- <label>Організатори</label> -->
            <select name="projectOrganizator"class="browser-default" ng-model="project.team">
                <option value="" disabled selected>Вибрати організатора</option>
                <option ng-repeat="team_member in team" value="{{team_member.id}}" required>
                     {{team_member.name}}  
                     {{team_member.surname}}
                </option>
            </select>
            <p class="error" ng-show="addProjectForm.projectOrganizator.$dirty">
            {{getErrorOrganizator(addProjectForm.projectOrganizator.$error)}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2 file-field input-field" mg-file-upload="projectFoto"  ng-model="project.image">
            <img ng-src="{{project.image.src}}" title="{{project.image.title}}" id="{{project.image.id}}"/>
            <br>
            <div class="btn purple darken-4 container-image-chosen">
              <span class="image-chosen">Вибрати фотографію</span>
              <input type="file" name="projectImage" class="js-progress-files">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="switch col s8 offset-s2">
            <label>
            Не підтверджую
            <input type="checkbox" name="projectAgreed" id="project-checkbox" required ng-model="project.agreed">
            <span class="lever"></span>
            Підтверджую
            </label>
        </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2 signup-submit-input">
        <button type="submit" class="btn btn-default waves-effect purple darken-4 signup-submit-input" ng-disabled="addProjectForm.$invalid || project.image.fresh != true">ДОДАТИ</button>
      </div>
    </div>
  </form>
</div>

