<form ng-submit="updateProject(project)">
    <div class="input-group">
        <label for='name'>Імя</label>
        <input type="text" class="form-control" placeholder="проект" name="name" ng-model="project.name" />
    </div>
    <div class="input-group">
        <label for='description'>Опис</label>
        <textarea class="form-control" placeholder="опис" name="description" ng-model="project.description" />
    </div>
    <br>
    <div mg-file-upload="projectFoto"  ng-model="project.image">
        <div class="drop-area">
            <input type="file" class="js-progress-files" />
            <img  ng-if="project.image.url" width="100%" ng-src="{{project.image.url}}">
            <img ng-else width="100%" ng-src="{{project.image.src}}" title="{{project.image.title}}" id="{{image.id}}"/>
        </div>
    </div>
    <div class="input-group">
        <label for='teams' >Організатори</label>
        <input type="hidden" ng-model="project.team_member_prev_id" />
        <select name="team" id="team" class="form-control" ng-model="project.team">

            <option ng-attr="{'selected': (project.team.id == team_member.id) }" ng-repeat="team_member in team" value="{{team_member.id}}">
                {{team_member.name}}  {{team_member.surname}}
            </option>
        </select>
    </div>
    <div class="input-group">
        <label for='facebook_link'>Опис</label>
        <input typeof="text" class="form-control" placeholder="facebook" name="facebook_link" ng-model="project.facebook_link" />
    </div>
    <input type="submit" class="btn btn-default" value="оновити">
</form>
