<div class="container-fluid container-projects-main" id="projects-link">
<div class="row-fluid">

    <div class="container-projects">

        <div class="col-xs-6 col-sm-4"  ng-repeat="project in projects">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src={{project.image.url}} width="100"/>
                </div>

                <div class="card-content">
                    <div class="card-title activator grey-text text-darken-4">
                        <a ng-show="project.facebook_link" class="facebook-link" href="{{project.facebook_link}}">
                            <img class="project-facebook-logo img-responsive" src="images/facebook.png">
                        </a>
                        <p class="project-name">{{project.name}}<i class="material-icons right">more_vert</i><p>
                    </div>
                    <div  ng-repeat="team_member in project.team_members" >
                        <div ng-if="team_member.coordinator == true">
                            <div class="coordinator">
                                <p> {{team_member.name}}  {{team_member.surname}} </p><p>{{team_member.phone}}</p>
                            </div>
                        </div>
                        <div ng-if="team_member.coordinator == false">
                            <div>
                                <p> {{team_member.name}}  {{team_member.surname}} </p><p>{{team_member.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <p>{{project.description}}</p>
                    <p></p>
                </div>
            </div>
            <a class="btn btn-sm" href="#/projects/{{project.id}}/edit">update</a>
            <a class="btn btn-sm" href="#"   data-ng-click="deleteProject(project.id)">delete</a>
        </div>
    </div>
</div>
</div>
