<!-- About as -->
<div class="container-fluid container-about-main">
  <a name="about-link" style="position: absolute; top:-45px"></a>
  <div class="row-fluid">
    <div class="about-headline">
      <p><!-- ABOUT -->ПРО НАС</p>
    </div>
    <div class="container-about">
      <div class="col-sm-6 about-image">
        <img src="assets/about.jpg" class="img-responsive">
      </div>
      <div class="col-sm-6 about-text">
        <p class="about-slogan">Ми - Молодь,  яка розуміє, зрощує і практикує живу християнську віру!</p>
        <p class="text-head">Коротка історія:</p>
        Наша організація була заснована у 2006 році  американськими місіонерами Фредом і Стейсі Вендерверфами. У 2009 році в місії їх замінили Девід і Шенон Горани, яких, в свою чергу, у 2012 році замінили Майкл Ейргуд і Володимир Прокіп. Останній до сьогодні очолює організацію.<br>
        <p class="text-head">Про відкритість:</p>
        З 2006 року організація функціонує у вигляді міжконфесійної безплатної студентської комуни, з вільним доступом до комп’ютерів, інтернету та кухні. Студенський центр з 10:00 до 20:00 слугує місцем спілкування, навчання і проведення часу для молоді в християнській атмосфері.<br>
        <p class="text-head">Пілігрими:</p>
        Кожного четверга 18:30 відбуваються "Пілігрими" - молодіжне служіння для  студентів з обговоренням місця писання, прославленням, проповідю, молитвою і спілкуванням.
        <p class="text-head">Про віру та відносини з іншими церквами:</p>
        Ми віримо що Тіло Христове Його Церква не замкнена і не обмежена окремою конфесією чи деномінацією, Його тіло набагато ширше та об’ємніше, і вміщає в себе всіх хто вірить у те, що Ісус - Cпаситель і Христос їхнього життя та своїми  ділами підтверджують віру в Нього. Ми віримо в спілкування християн в Дусі Святому, незважаючи на відмінності традицій церков. Ми віримо в Апостольський символ віри.
      </div>
    </div>
  </div>
</div>
<!--Finish about as-->
