<div class="container-fluid container-contact-main">
  <a name="contact-link" style="position: absolute; top:-45px"></a>
  <a href="https://www.google.com/maps/place/%D0%9C%D0%9E%D0%9B%D0%9E%D0%94%D0%AC+%D0%94%D0%9E+%D0%86%D0%A1%D0%A3%D0%A1%D0%90/@49.8422586,24.0230119,17z/data=!3m1!4b1!4m2!3m1!1s0x473add73c5664763:0x1c6af25550c0aa45" class="bg-contact-link" target="_blank"></a>
  <div class="row-fluit" id="row-main-form">
    <div class="col-sm-5 col-sm-offset-6  col-xs-8 col-xs-offset-2" id="id-col">
      <div class="main-form" ng-controller="ContactFormController as contact_form">
        <div class="contact-headline">
          <p><!-- QUICK CONTACT -->КОНТАКТ</p>
        </div>
        <form name="orderform" ng-submit="submitContact(contact_mail)" role="form" ng-init="contact_mail = {}">
          <div class="form-group">
            <input type="text" class="form-control name-input" id="name-input" name="name" placeholder="Ваше ім'я" maxlength="50" ng-model="contact_mail.name" onblur="validateNonEmpty(this, document.getElementById('name_help'))">
            <span id="name_help" class="help"></span>
          </div>
          <div class="form-group">
            <input type="email" class="form-control email-input" id="email-input" name="email" placeholder="Ваша пошта" maxlength="50" ng-model="contact_mail.email" onblur="validateEmail(this, document.getElementById('email_help'))">
            <span id="email_help" class="help"></span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control theme-input" id="theme-input" name="subject" placeholder="Тема повідомлення" maxlength="50" ng-model="contact_mail.subject" onblur="validateNonEmpty(this, document.getElementById('theme_help'))">
            <span id="theme_help" class="help"></span>
          </div>
          <div class="form-group">
            <textarea class="form-control message-input" id="message-input" rows="6" name="message" placeholder="Текст повідомлення" maxlength="1000" ng-model="contact_mail.message" onblur="validateLength(1, 1000, this, document.getElementById('message_help'))"></textarea>
            <span id="message_help" class="help"></span>
          </div>
          <button type="submit" class="btn btn-default button-input">Відправити</button>
        </form>
      </div>
    </div>
  </div>
</div>