
<!--Photo-->
<div class="container-fluid container-photo-main">
  <a name="photo-link" style="position: absolute; top:-45px"></a>
  <div class="row-fluid">
    <div class="photo-headline">
      <p><!-- PHOTO -->ФОТО</p>
    </div>
    <div class="container-photo col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
      <div class="photo">
        <img class="img-responsive img-thumbnail img-photo" src="assets/photo/1.jpg" alt="">
        <p>Поїздка в дитячий будинок</p>
        <a href="http://www.cinco.ly/~AYJA5ssyqqE6#swipebox" target="_blank">&raquo; Всі фотографії</a>
      </div>
      <div class="photo">
        <img class="img-responsive img-thumbnail img-photo" src="assets/photo/1.jpg" alt="">
        <p>Поїздка в дитячий будинок</p>
        <a href="http://www.cinco.ly/~AcKA5v8Ir2xC#swipebox" target="_blank">&raquo; Всі фотографії</a>
      </div>
      <div class="photo">
        <img class="img-responsive img-thumbnail img-photo" src="assets/photo/1.jpg" alt="">
        <p>Поїздка в дитячий будинок</p>
        <a href="http://www.cinco.ly/~AwEAYsMFr-LF" target="_blank">&raquo; Всі фотографії</a>
      </div>
      <div class="photo">
        <img class="img-responsive img-thumbnail img-photo" src="assets/photo/1.jpg" alt="">
        <p>Поїздка в дитячий будинок</p>
        <a href="http://www.cinco.ly/~AwEAYsMFr-LF" target="_blank">&raquo; Всі фотографії</a>
      </div>
      <div class="photo">
        <img class="img-responsive img-thumbnail img-photo" src="assets/photo/1.jpg" alt="">
        <p>Поїздка в дитячий будинок</p>
        <a href="http://www.cinco.ly/~AwEAYsMFr-LF" target="_blank">&raquo; Всі фотографії</a>
      </div>
    </div>
  </div>
</div>
<!--Finish photo-->