
<div class="container-fluid container-photo-main">
  <div class="row-fluid">
    <div class="photo-headline">
      <p><!-- PHOTO -->ФОТО</p>
    </div>
    <div id="carousel-photo" class="carousel slide embed-responsive-item" data-ride="carousel">
      <div class="container carousel-inner" role="listbox">
        <div class="item active container-photo">
          <ul>
            <li>
              <div class="photo-img-box">
                <a href="#"><img class="img-responsive img-thumbnail" alt=""></a>
              </div>
              <div class="photo-name-box">
                <p>Поїздка в дитячий будинок</p>
                <a class="" href="#">&raquo; Всі фотографії</a>
              </div>
            </li>
            <li>
              <div class="photo-img-box">
                <a href="#"><img class="img-responsive img-thumbnail"  alt=""></a>
              </div>
              <div class="photo-name-box">
                <p>Поїздка в дитячий будинок</p>
                <a class="" href="#">&raquo; Всі фотографії</a>
              </div>
            </li>
            <li>
              <div class="photo-img-box">
                <a href="#"><img class="img-responsive img-thumbnail"  alt=""></a>
              </div>
              <div class="photo-name-box">
                <p>Поїздка в дитячий будинок</p>
                <a class="" href="#">&raquo; Всі фотографії</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="item container-photo">
          <ul>
            <li>
              <div class="photo-img-box">
                <a href="#"><img class="img-responsive img-thumbnail"  alt=""></a>
              </div>
              <div class="photo-name-box">
                <p>Поїздка в дитячий будинок</p>
                <a class="" href="#">&raquo; Всі фотографії</a>
              </div>
            </li>
            <li>
              <div class="photo-img-box">
                <a href="#"><img class="img-responsive img-thumbnail"  alt=""></a>
              </div>
              <div class="photo-name-box">
                <p>Поїздка в дитячий будинок</p>
                <a class="" href="#">&raquo; Всі фотографії</a>
              </div>
            </li>
            <li>
              <div class="photo-img-box">
                <a href="#"><img class="img-responsive img-thumbnail"  alt=""></a>
              </div>
              <div class="photo-name-box">
                <p>Поїздка в дитячий будинок</p>
                <a class="" href="#">&raquo; Всі фотографії</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-photo" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Попередній</span>
      </a>
      <a class="right carousel-control" href="#carousel-photo" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Наступний</span>
      </a>
    </div>
  </div>
</div>
