
<div class="container-fluid header-container">
  <div class="col-sm-5 header-left">
    <a href="#">Youth To Jesus</a>
    <p>Молодіжна християнська громадська організація</p>
  </div>
  <div class="col-sm-2 main-logo-box">
    <%= image_tag("logo2.jpg", :alt => "logo", :class => "main-logo") %>
  </div>
  <div class="col-sm-5 header-right">
    <ul>
      <li><a href="#">Контакт</a></li>
      <li><a href="#">Біблія</a></li>
      <li><a href="#">Допомогти</a></li>
      <li><a href="#" title="Search"><span class="glyphicon glyphicon-search"></span></a></li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-inverse" role="navigation" id="navbar-main">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="nav-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
        <a href="#" title="Search" class="navbar-button"><span class="glyphicon glyphicon-search"></span></a>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
        <a href="#" title="Bible" class="navbar-button"><span class="glyphicon glyphicon-book"></span></a>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
        <a href="#" title="Donate" class="navbar-button"><span class="glyphicon glyphicon-piggy-bank"></span></a>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
        <a href="#" title="Translate" class="navbar-button"><span class="glyphicon glyphicon-globe"></span></a>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav topnav navbar-left">
        <li>
          <a href="#" class="active" title="About">ПРО НАС</a>
        </li>
        <li>
          <a href="#" title="Piligrims">ПІЛІГРИМИ</a>
        </li>
        <li>
          <a href="#" title="Projects">ПРОЕКТИ</a>
        </li>
        <li>
          <a href="#" title="Team">КОМАНДА</a>
        </li>
        <li>
          <a href="#" title="Team">ВІДЕО</a>
        </li>
        <li>
          <a href="#" title="Team">ФОТО</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right nav-right">
        <li>
          <a href="#" title="UA">UA</a>
        </li>
        <li>
          <a href="#" title="ENG">ENG</a>
        </li>
        <li id="nav-li-hide"><a href="#" title="Translate"><span class="glyphicon glyphicon-globe"></span></a></li>
      </ul>

    </div>
  </div>
</nav>
