<div class="container-fluid container-video-main">
    <div class="row-fluid">
        <div class="video-headline">
            <p><!-- VIDEO -->ВІДЕО</p>
        </div>
        <div id="carousel-video" class="carousel slide embed-responsive-item" data-ride="carousel">
            <div class="container carousel-inner" role="listbox">
                <div class="item active container-video">
                    <ul>
                        <li>
                            <div class="video-iframe-box">
                                <iframe width="420" height="315" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="video-name-box">
                                <p>Нам 10 років</p>
                            </div>
                        </li>
                        <li>
                            <div class="video-iframe-box">
                                <iframe width="420" height="315" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="video-name-box">
                                <p>Нам 10 років</p>
                            </div>
                        </li>
                        <li>
                            <div class="video-iframe-box">
                                <iframe width="420" height="315" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="video-name-box">
                                <p>Нам 10 років</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="item container-video">
                    <ul>
                        <li>
                            <div class="video-iframe-box">
                                <iframe width="420" height="315" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="video-name-box">
                                <p>Нам 10 років</p>
                            </div>
                        </li>
                        <li>
                            <div class="video-iframe-box">
                                <iframe width="420" height="315" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="video-name-box">
                                <p>Нам 10 років</p>
                            </div>
                        </li>
                        <li>
                            <div class="video-iframe-box">
                                <iframe width="420" height="315" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="video-name-box">
                                <p>Нам 10 років</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="left carousel-control" href="#carousel-video" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Попередній</span>
                </a>
                <a class="right carousel-control" href="#carousel-video" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Наступний</span>
                </a>
            </div>
        </div>
    </div>