<div class="container-fluid container-video-main">
    <a name="video-link" style="position: absolute; top:-45px"></a>
    <div class="row-fluid">
        <div class="video-headline">
            <p><!-- VIDEO -->ВІДЕО</p>
        </div>
        <div class="container-video col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
            <div class="video-iframe-box">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                <p class="video-name-box">Нам 10 років</p>
            </div>
            <div class="video-iframe-box">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                <p class="video-name-box">Нам 10 років</p>
            </div>
            <div class="video-iframe-box">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                <p class="video-name-box">Нам 10 років</p>
            </div>
            <div class="video-iframe-box">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                <p class="video-name-box">Нам 10 років</p>
            </div>
            <div class="video-iframe-box">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/Z3bp-HETGI8" frameborder="0" allowfullscreen></iframe>
                <p class="video-name-box">Нам 10 років</p>
            </div>
        </div>
    </div>
</div>