<!DOCTYPE html>
<html>
<head>
  <title>YTJ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ytj">

<div class="container" ng-view>

  <%= yield %>

</div>


</body>
</html>
